body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: #0055ff;
    color: white;
    text-align: center;
    padding: 40px;
}

.bloc {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

h2 {
    color: #0055ff;
}

footer {
    text-align: center;
    padding: 20px;
    color: #555;
}
